body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(347deg, rgba(2,0,36,1) 0%, rgba(13,13,172,1) 28%, rgba(0,212,255,1) 100%);
}

.main-div {
    width: 35rem;
    padding: 1.7rem;
    border-radius: 5px;
    background-color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: .6rem
}

.helptext{
    color: rgba(0,0,0,.6);
    font-size: small;
}

#captcha-container{
    align-self: center;
}