body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(347deg, rgba(2,0,36,1) 0%, rgba(13,13,172,1) 28%, rgba(0,212,255,1) 100%);*/
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
}

.main-div {
    width: 35rem;
    padding: 1.7rem;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0 -1px 39px -5px rgba(66,66,66,0.78);
    -moz-box-shadow: 0 -1px 39px -5px rgba(66,66,66,0.78);
    box-shadow: 0 -1px 39px -5px rgba(66,66,66,0.78);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: .6rem
}
.login-form > p > label {
    font-weight: bolder;
}

.helptext{
    color: rgba(0,0,0,.6);
    font-size: small;
}

#logo{
    margin-bottom: 2rem;
    align-self: center;
}

form > .g-recaptcha{
    align-self: center;
}