<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Log in</title>
    <meta name="description" content="Log in Page for algerie telecome user">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <div class="container main-div">
        <img id="logo" src="{% static 'images/alg_tlcm_logo.png' %}">
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
{#            <div id="captcha-container">#}
{#                {{ captcha.captcha }}#}
{#            </div>#}
            <button type="submit" class="btn btn-outline-primary mx-auto">
                LOG IN
            </button>
            {% for message in messages %}
                <p class="text-danger"> {{ message }}</p>
            {% endfor %}
        </form>
    </div>

</body>
</html>