<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Information</title>
    <meta name="description" content="algerie telecome information par dot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <span> {{ request.user }}</span>
        <span><a href="{% url 'logout' %}">Logout</a></span>
        <br />
        <canvas id="graphe1" width="300" height="200"></canvas>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js"></script>

    <script>
        let input = null;
        const getData = async (url) => {
            const resp = await fetch(url);
            const data = await resp.json()
            const binome = data.map(info => info.binome)
            const cmp_names = data.map(info => info.cmp)
            let ctx = document.getElementById('graphe1').getContext('2d');

            let myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: cmp_names,
                datasets: [{
                    data: binome,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});

        }

        getData('api/cmps/?month=6').catch(err => console.log(err))
    </script>
  </body>
</html>